<!--div id="main">
	<%= @msg %>
</div-->

<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1><a href="#">MIKAN</a></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
	</ul>
	
	<section class="top-bar-section">
		<ul class="right">
			<li class="has-dropdown">
				<a href="#"><span style="margin-right:6px;"><%= image_tag("user_image.png") %></span>Mikan Taro</a>
				<ul class="dropdown">
					<li><a href="#">Sign out</a></li>
				</ul>
			</li>
		</ul>
	</section>
</nav>

<br />
<!--div class="row">
	<div class="large-12 columns">
		<div id="container">
		</div>
	</div>
</div-->

<div style="margin: 24px auto 0 auto;">
	<div style="width:100%;">
		<div id="container">
		</div>
	</div>
</div>
