<!-- window title -->
<% provide(:title, 'MIKAN') %>

<!-- top-bar -->
<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1><a href="#">MIKAN</a></h1>
		</li>
	</ul>

	<section class="top-bar-section">
		<ul class="right">
			<li class="has-dropdown">
				<a href="#"><span style="margin-right:6px;"><%= image_tag("user_image.png") %></span>Mikan Taro</a>
				<ul class="dropdown">
					<li><a href="#">Sign out</a></li>
				</ul>
			</li>
		</ul>
	</section>
</nav>

<!-- body -->
<div style="margin: 0px auto 0 auto;">
	<div class="off-canvas-wrap">
		<div class="inner-wrap">
			 <nav class="tab-bar">
				<section class="left-small">
					<a class="left-off-canvas-toggle menu-icon" ><span></span></a>
				</section>
				 <section class="middle tab-bar-section">
				 	<h2 class="title">Sake - Twitter - 1Day</h1>
				 </section>
			</nav>
	    		<!-- Off Canvas Menu -->
	    		<aside class="left-off-canvas-menu">
	        		<!-- whatever you want goes here -->
				<ul class="off-canvas-list">
					<li><label>Category</label></li>
				    	<li><a href="#">Sake</a></li>
				    	<li><a href="#">Wine</a></li>
				    	<li><a href="#">Bear</a></li>
				    	<li><a href="#">Wiskey</a></li>
				    	<li><a href="#">Shochu</a></li>
					<li><label>DataSource</label></li>
				    	<li><a href="#">Twitter</a></li>
				    	<li><a href="#">Facebook</a></li>
				    	<li><a href="#">Google+</a></li>
					<li><label>Search Period</label></li>
				    	<li><a href="#">1Day</a></li>
				    	<li><a href="#">1Week</a></li>
				    	<li><a href="#">1Month</a></li>
				 </ul>
	    		</aside>
	    		<!-- bubble area -->
			<div style="width:100%;">
				<div id="container" style="margin: 24px auto 0 auto;">
				</div>
			</div>
			  <!-- close the off-canvas menu -->
			  <a class="exit-off-canvas"></a>
		</div>
	</div>


</div>
