// tabbar hegith
// $tabbar_heigth: 60px;
$tabbar-heigth: 60px;
$condition_area_height: 54px;

// page color setting
$pattern: 99;

// default pattern (1)
$base_bg_color: #CBE8F6;
$base_text_color: #000000;
$top_bg_color: #0b579b;
$top_text_color: #FFFFFF;
$main_bg_color: #a3d7ef;
$main_text_color: #FFFFFF;
$sub_bg_color: #FFFFFF;
$sub_text_color: #000000;

@if $pattern==1 {
	// pattern 1 : light blue
	$base_bg_color: #CBE8F6;
	$base_text_color: #000000;
	$top_bg_color: #0b579b;
	$top_text_color: #FFFFFF;
	$main_bg_color: #a3d7ef;
	$main_text_color: #FFFFFF;
	$sub_bg_color: #FFFFFF;
	$sub_text_color: #000000;

} @else if $pattern == 2 {
	// pattern 2 : dark blue
	$base_bg_color: #CBE8F6;
	$base_text_color: #000000;
	$top_bg_color: #02243a;
	$top_text_color: #FFFFFF;
	$main_bg_color: #6caac8;
	$main_text_color: #FFFFFF;
	$sub_bg_color: #FFFFFF;
	$sub_text_color: #000000;

} @else if $pattern == 22 {
	// pattern 22 : dark blue, base == main
	$base_bg_color: #CBE8F6;
	$base_text_color: #000000;
	$top_bg_color: #02243a;
	$top_text_color: #FFFFFF;
	$main_bg_color: $base_bg_color;
	$main_text_color: #FFFFFF;
	$sub_bg_color: #FFFFFF;
	$sub_text_color: #000000;

} @else if $pattern == 3 {
	// pattern 3 : dark blue
	$base_bg_color: #0b1428;
	$base_text_color: #000000;
	$top_bg_color: #000000;
	$top_text_color: #FFFFFF;
	$main_bg_color: #7f7f7f;
	$main_text_color: #FFFFFF;
	$sub_bg_color: #FFFFFF;
	$sub_text_color: #000000;

} @else if $pattern == 4 {
	// pattern 4 : dark blue , main == base
	$base_bg_color: #AAAAAA;
	$base_text_color: #000000;
	$top_bg_color: #0F1D33;
	$top_text_color: #FFFFFF;
	$main_bg_color: $base_bg_color;
	$main_text_color: #FFFFFF;
	$sub_bg_color: #FFFFFF;
	$sub_text_color: #000000;

} @else if $pattern == 5 {
	// pattern 5 : light - dark black, main == base
	$base_bg_color: #1C1C1C;
	$base_text_color: #000000;
	$top_bg_color: $base_bg_color;
	$top_text_color: #FFFFFF;
	$main_bg_color: $base_bg_color;
	$main_text_color: #FFFFFF;
	$sub_bg_color: #FFFFFF;
	$sub_text_color: #000000;

} @else if $pattern == 6 {
	// pattern 6 : dark
	$base_bg_color: #1F1F1F;
	$base_text_color: #000000;
	// $top_bg_color: #BF1E56;
	$top_bg_color: #DA6272;
	// $top_bg_color: #E89CA6;
	$top_text_color: #FFFFFF;
	$main_bg_color: #6caac8;
	$main_bg_color: $base_bg_color;
	$sub_bg_color: #FFFFFF;
	$sub_text_color: #000000;

} @else if $pattern == 99 {
	// pattern 6 : dark
	$base_bg_color: #1F1F1F;
	// $base_bg_color: #CBE8F6;
	$base_text_color: #000000;
	$top_bg_color: #DA6272;
	$top_text_color: #FFFFFF;
	$main_bg_color: #6caac8;
	$main_bg_color: $top_bg_color;
	$sub_bg_color: #FFFFFF;
	$sub_text_color: #000000;
}
