// $base_bg_color: #8ebbcf;
@import "set";

body {
	background-color: $base_bg_color;
}

.box {
	background-color:#ffffff;
	-moz-border-radius:50%;
	-khtml-border-radius: 50%;
	-webkit-border-radius:50%;
	border-radius:50%;

	-webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
	-moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
	-ms-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
	-o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
	transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

	-webkit-transition-property: left, right, top;
	-moz-transition-property: left, right, top;
	-ms-transition-property: left, right, top;
	-o-transition-property: left, right, top;
	transition-property: left, right, top;
}

.user_icon p {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#service_name {
	color: $top_text_color;
	text-align: center;
	font-size: 2rem;
	font-weight: normal;
}

#search_condition_area {
	h2, h3{
		color: $top_text_color;
	}
	margin: $tabbar_heigth auto 0 auto;
	text-align: center;
	height: $condition_area_height;
}

#bubble_area{

}

// nav var
ul.off-canvas-list{
	li{
		a{
			font-size: 0.8rem;
		}
	}
}

